body {
  background-color: rgb(253, 251, 251);
  font-size: 18px;
  color: rgb(232, 32, 21);
  line-height: 40px;
  font-family: monospace;
}

#cabecalho {position: fixed;
  top: 0;
}

.lado-esquerdo {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 600px;
  border: 5px solid black;
  margin: 50px;
  padding: 10px;
}

.lado-direito {
  position: absolute;
  right: 100px;
  top: 100px;
  border: 5px solid black;
  margin: 50px;
  padding: 10px;
}

#minha_foto {
  position: relative;
  top: 300px;
  width: 300px;
  left: 1200px;
}

#licoes_aprendidas {
  position: relative;
  top: 500px;
  left: 100px;
}

#licoes_a_aprender {
  position: relative;
  top: 75px;
  left: 700px;
}
table {
  position: absolute;
  top: 50px;
  right: 250px;
  width: 600px;
}
nav {
  position: absolute;
  top: 500px;
  right: 0;
  width: 600px;
}
#rodape {
  position: absolute;
  top: 1400px;
  left: 900px;
  color: blue;
}